.btnSpans {
  cursor: pointer;
  font: inherit;
  background-color: rgb(20, 155, 54);
  color: white;
  padding: 0 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
  border-color: white;
}

.btnSpans:hover,
.btnSpans:active {
  color: rgb(33, 21, 202);
  border-color: rgb(33, 21, 202);
  background-color: yellow;
}

.icon {
  width: 1.35rem;
}
.cartIcon {
  font-size: 2.35rem;
  color: var(--white);
}
.branchName {
  margin-right: 0rem;
}
.branchName {
  font-size: 1.2em;
  padding: 0.25rem 1rem;
}

.totalAmount {
  background-color: transparent;
  padding: 0.25rem 1rem;
  border-radius: 25px;
  margin-left: 1rem;
  font-weight: bold;
  font-size: 1.3rem;
}

.btnSpans:hover .totalAmount,
.btnSpans:active .totalAmount {
  background-color: transparent;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
}
